{% load static %}
<!DOCTYPE html>
<html lang="en">
	
    <head>
	
        <meta charset="UTF-8" />
	
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
              rel="stylesheet" />

	
        <link rel="stylesheet" href="{% static 'portfolio/css/icon-font.css' %}" />
	
        {% comment %} <link rel="stylesheet" href="css/style.css" /> {% endcomment %}
	
        <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}" />
	
        {% comment %} <link rel="shortcut icon" type="image/png" href="img/favicon.png" /> {% endcomment %}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'portfolio/favicon/favicon.ico' %}" />
        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css'
              rel='stylesheet'>

        <title>Sanket Wagh</title>
	
    </head>

	
    <body>
	
        <div class="navigation">
	
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
	
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
	
            </label>
	
            <div class="navigation__background">&nbsp;</div>
	
            <nav class="navigation__nav">
	
                <ul class="navigation__list">
	
                    <li class="navigation__item">
                        <a href="/#about" class="navigation__link" onclick="document.getElementById('navi-toggle').click()">About Me</a>
	
                    </li>
	
                    <li class="navigation__item">
                        <a href="#" class="navigation__link"><span>02</span> Technologies worked with</a>
	
                    </li>
	
                    <li class="navigation__item">
                        <a href="#" class="navigation__link"><span>03</span> Favourite technologies</a>
	
                    </li>
	
                    <li class="navigation__item">
                        <a href="https://www.linkedin.com/in/sanketwagh147/" class="navigation__link">
                            <img src="{% static 'portfolio/img/linkedin.png' %}"
                                 class='linkedin-icon'
                                 alt="linkeed in logo" />
                        LinkedIn</a>
	
                    </li>
	
                    <li class="navigation__item">
                        <a href="/tomato"
                           class="navigation__link"><span>05</span> Django Food Applicaton : Tomato</a>
	
                    </li>
                    <li class="navigation__item">
                        <a href="https://github.com/sanketwagh147" class="navigation__link">
                            <img class="github-icon"
                                 src="{% static 'portfolio/img/github-mark-dark.png' %}"
                                 alt="" />
                        Github</a>
	
                    </li>
	
                </ul>
	
            </nav>
	
        </div>
	
        <header class="header">
	
            <div class="header__logo-box">
	
                {% comment %} <img src="{% static 'portfolio/img/logo-white.png' %}" alt="logo" class="header__logo" /> {% endcomment %}
	
                <img src="{% static 'portfolio/favicon/logo.png' %}"
                     class="header__logo"
                     alt="Logo" />
	
            </div>
	
            <div class="header__text-box">
                <img src="{% static 'portfolio/img/user2.jpg' %}" class="self__photo" alt="" />
	
                <h1 class="heading-primary">
                    <span class="heading-primary--main">Sanket Wagh</span>
                    <span class="heading-primary--sub">Python | Javascript | HTML | CSS | Linux</span>
	
                </h1>
                <a href="#discover-tours" class="btn btn--white btn--animated">Technologies worked with</a>
	
            </div>
	
        </header>
        <!-- <section class="grid-test">
			<div class="row">
				<div class="col-1-of-2">Column 1 of 2</div>
				<div class="col-1-of-2">Column 2 of 2</div>
			</div>
			<div class="row">
				<div class="col-1-of-3">Column 1 of 3</div>
				<div class="col-1-of-3">Column 2 of 3</div>
				<div class="col-1-of-3">Column 3 of 3</div>
			</div>
			<div class="row">
				<div class="col-1-of-3">Column 1 of 3</div>
				<div class="col-2-of-3">Column 2 of 3</div>
			</div>
			<div class="row">
				<div class="col-1-of-4">Column 1 of 4</div>
				<div class="col-1-of-4">Column 2 of 4</div>
				<div class="col-1-of-4">Column 3 of 4</div>
				<div class="col-1-of-4">Column 4 of 4</div>
			</div>
			<div class="row">
				<div class="col-1-of-4">Column 1 of 4</div>
				<div class="col-1-of-4">Column 2 of 4</div>
				<div class="col-2-of-4">Column 3 of 4</div>
			</div>
			<div class="row">
				<div class="col-1-of-4">Column 1 of 4</div>
				<div class="col-3-of-4">Column 3 of 4</div>
			</div>
		</section> -->
	
        <main>
	
            <section class="section-about" id="about">
	
                <div class="u-center-text u-margin-bottom-big">
	
                    <h2 class="heading-secondary">About me</h2>
	
                </div>
	
                <div class="row row-about">
	
                    <div class="col-1-of-2">
	
                        <h3 class="heading-tertiary u-margin-bottom-small">My Background</h3>
                        <p class="paragraph">Welcome to my tech-infused world! I'm a passionate computer freak with a knack for Python and front-end development. From a young age, I've been captivated by the endless possibilities technology offers.</p>

                        <p class="paragraph">Python became my coding obsession—its elegance and versatility allowed me to create powerful solutions for real-world challenges, from builing Rest APIs to automation. Paired with HTML, CSS, and JavaScript, I craft interactive, visually appealing websites and applications.</p>

                        <p class="paragraph">Explore my work and join me on this exciting journey of innovation.</p>
	
                        <h3 class="heading-tertiary u-margin-bottom-small">My Hobbies</h3>
	
                        <p class="paragraph">
                            My hobbies are cooking and video games. In the kitchen, I explore diverse cuisines, experiment with flavors. In virtual worlds, I embark on thrilling adventures, solving quests, and competing with friends, igniting my creativity.
	
                        </p>
                        <a href="#" class="btn-text">Learn more &rarr;</a>
	
                    </div>
	
                    <div class="col-1-of-2">
	
                        <div class="composition">
	
                            <img srcset="{% static 'portfolio/img/project-1.png 300w,
                                         img/project-1.png 1000w' %}"
                                 sizes="(max-width: 56em) 20vw,
                                        (max-width:37.5em) 30vw,
                                        300px"
                                 alt="photo-1"
                                 class="composition__photo composition__photo--p1"
                                 src="{% static 'portfolio/img/project-1.png' %}" />
	
                            <img srcset="{% static 'portfolio/img/project-2.jpg 300w,
                                         img/project-2.jpg 1000w' %}"
                                 sizes="(max-width: 56em) 20vw,
                                        (max-width:37.5em) 30vw,
                                        300px"
                                 alt="photo-1"
                                 class="composition__photo composition__photo--p2"
                                 src="{% static 'portfolio/img/project-2.jpg' %}" />
	
                            <img srcset="{% static 'portfolio/img/project-3.jpg 300w,
                                         img/project-3.jpg 1000w' %}"
                                 sizes="(max-width: 56em) 20vw,
                                        (max-width:37.5em) 30vw,
                                        300px"
                                 alt="photo-1"
                                 class="composition__photo composition__photo--p3"
                                 src="{% static 'portfolio/img/project-3.jpg' %}" />
                            <!-- <img src="img/nat-1-large.jpg" alt="phot 1" class="composition__photo composition__photo--p1" /><img src="img/nat-2-large.jpg" alt="photo 2" class="composition__photo composition__photo--p2" /><img src="img/nat-3-large.jpg"
     alt="image 3"
     class="composition__photo composition__photo--p3" /> -->
	
                        </div>
	
                    </div>
	
                </div>
	
            </section>
	
            <section class="section-features">
                <div class="u-center-text u-margin-bottom-big">
	
                    <h2  class="heading-secondary experienced_in">Experienced in</h2>
	
                </div>
	
                <div class="row">
	
                    <div class="col-1-of-4">
	
                        <div class="feature-box">
                            {% comment %} <i class="feature-box__icon icon-basic-world"></i> {% endcomment %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
                              </svg>
                               
                              
	
                            <h3 class="heading-tertiary u-margin-bottom-small">Back-end Skill</h3>
	
                            <p class="feature-box__text">
                                Proficient in Python, developing scalable and efficient backend solutions, leveraging its libraries and frameworks to ensure seamless functionality and data validation.
	
                            </p>
	
                        </div>
	
                    </div>
	
                    <div class="col-1-of-4">
	
                        <div class="feature-box">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                              </svg>
                              
                            {% comment %} <i class="feature-box__icon icon-basic-compass"></i> {% endcomment %}

                            <h3 class="heading-tertiary u-margin-bottom-small">Front-end skills</h3>
	
                            <p class="feature-box__text">
                                Skilled in HTML, CSS, and JavaScript, crafting visually appealing and interactive user interfaces for seamless web experiences, with a focus on responsive design and cross-browser compatibility.
	
                            </p>
	
                        </div>
	
                    </div>
	
                    <div class="col-1-of-4">
	
                        <div class="feature-box">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                              </svg>
                            {% comment %} <i class="feature-box__icon icon-basic-map"></i> {% endcomment %}
	
                            <h3 class="heading-tertiary u-margin-bottom-small">Databases</h3>
	
                            <p class="feature-box__text">
                                Familiar with managing databases, creating tables, and writing simple queries. Eager to expand knowledge and contribute to backend development with PostgreSQL.
	
                            </p>
	
                        </div>
	
                    </div>
	
                    <div class="col-1-of-4">
	
                        <div class="feature-box">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                              </svg>
                              
                            {% comment %} <i class="feature-box__icon icon-basic-heart"></i> {% endcomment %}
	
                            <h3 class="heading-tertiary u-margin-bottom-small">Operating Systems</h3>
	
                            <p class="feature-box__text">
                                Experienced in navigating the command line, configuring server settings, and troubleshooting issues. Maintaining secure and efficient server environments for backend development
	
                            </p>
	
                        </div>
	
                    </div>
	
                </div>
	
            </section>
	
            <section id="discover-tours" class="section-projects">
	
                <div class="u-center-text u-margin-bottom-big">
	
                    <h2 class="heading-secondary">Technologies Experienced in </h2>
	
                </div>

	
                <div class="row">
	
                    <div class="col-1-of-3">
	
                        <div class="card">
	
                            <div class="card__side card__side--front">
	
                                <div class="card__picture card__picture--1">&nbsp;</div>
	
                                <h4 class="card__heading">
                                    <span class="card__heading-span--1"></span>
	
                                </h4>
	
                                <div class="card__details">
	
                                    <ul>
	
                                        <li>Handling 20k request per minute</li>
	
                                        <li>CRUD operations</li>
	
                                        <li>Payload Validation </li>
	
                                        <li>Asynchronous API </li>
	
                                        <li>Middlewares</li>
	
                                    </ul>
	
                                </div>
	
                            </div>
	
                            <div class="card__side card__side--back card__side--back--1">
	
                                <div class="card__cta">
	
                                            <p class="paragraph-card">
                                                FastAPI accelerates development with its simplicity and automatic validation, creating robust RESTful APIs effortlessly.
                                            </p>
                                            <p class="paragraph-card">Asynchronous support boosts application responsiveness, handling concurrent tasks efficiently for improved scalability</p>
                                            <p class="paragraph-card">Interactive API documentation saves time and ensures accuracy during testing and debugging processes.</p>
                                            <p class="paragraph-card">FastAPI's flexibility enables seamless integration with databases and services, building feature-rich web applications with ease.</p>
	
	
	
                                </div>
	
                            </div>
	
                        </div>
	
                    </div>
	
                    <div class="col-1-of-3">
	
                        <div class="card">
	
                            <div class="card__side card__side--front">
	
                                <div class="card__picture card__picture--2">&nbsp;</div>
	
                                <h4 class="card__heading">
                                    <span class="card__heading-span--2"></span>
	
                                </h4>
	
                                <div class="card__details">
	
                                    <ul>
	
                                        <li>Push Notifications</li>
	
                                        <li>Data Validation</li>
	
                                        <li>Template Configuration</li>
	
                                        <li>Avoiding Duplicates</li>
	
                                        <li>Bulk Notifications</li>
	
                                    </ul>
	
                                </div>
	
                            </div>
	
                            <div class="card__side card__side--back card__side--back--2">
                                <div class="card__cta">
	
                                    <p class="paragraph-card">Implemented On-prem whatsapp infrastructure using whatsapp Business APIs</p>
                                    <p class="paragraph-card">Integration with Moengage for automatic bulk push notifications</p>
                                    <p class="paragraph-card">Inplemented LRU cache for reusing media and login token</p>
                                    <p class="paragraph-card">Creating a valid JSON template to invoke Whatsapp business api</p>
                                    <p class="paragraph-card">Implementing schedulers for timed notifications using python</p>

                        </div>
	
                                
	
                            </div>
	
                        </div>
	
                    </div>
	
                    <div class="col-1-of-3">
	
                        <div class="card">
	
                            <div class="card__side card__side--front">
	
                                <div class="card__picture card__picture--3">&nbsp;</div>
	
                                <h4 class="card__heading">
                                    <span class="card__heading-span--3"></span>
	
                                </h4>
	
                                <div class="card__details">
	
                                    <ul>
	
                                        <li>CBV and functional views</li>
	
                                        <li>Model-View-Controller (MVC) Architecture</li>
	
                                        <li>Object-Relational Mapping (ORM)</li>
	
                                        <li>URL Routing</li>
	
                                        <li>Form Handling</li>
	
                                    </ul>
	
                                </div>
	
                            </div>
	
                            <div class="card__side card__side--back card__side--back--3">
	<div class="card__cta">
	
                                    <p class="paragraph-card">Django follows the MVC architectural pattern, organizing code into models (data handling), views (presentation logic), and templates (user interface).</p>
                                    
                                    <p class="paragraph-card"> Django's ORM simplifies database interactions by allowing developers to work with Python objects instead of raw SQL queries, making it easy to perform database operations.</p>
                                    <p class="paragraph-card">Django's template engine enables the separation of HTML and Python code, promoting code reusability and maintainability.</p>
                                    <p class="paragraph-card">Django's URL routing mechanism allows developers to map URLs to specific views and functions, making it easier to create clean and readable URLs for the application</p>

                        </div>
                                
	
                            </div>
	
                        </div>
	
                    </div>
	
                </div>
	
                <div class="u-center-text u-margin-top-huge">
                    <a href="#" class="btn btn--green">Additional projects</a>
	
                </div>
	
            </section>
	
            <section class="section-stories">
	
                
	
                <div class="u-center-text u-margin-bottom-big">
	
                    <h2 class="heading-secondary">Technologies interested in</h2>
	
                </div>
	
                <div class="row">
	
                    <div class="story">
	
                        <figure class="story__shape">
	
                            <img src="{% static 'portfolio/img/python-logo-master.png' %}"
                                 class="story__image"
                                 alt="person on a tour" />
	
                            <figcaption>
	
                                <div class="story__caption">Python</div>
	
                            </figcaption>
	
                        </figure>
	
                        <div class="story__text">
	
                            <h3 class="heading-tertiary u-margin-bottom-small">
Proficient and versatile Python developer with strong problem-solving abilities.</h3>
	
                            <p>I possess exceptional skills in Python, demonstrating proficiency in developing efficient and scalable applications. My expertise spans various areas, such as data manipulation, web development, automation, and problem-solving, making you a valuable asset in the software development landscape.</p>
	
                        </div>
	
                    </div>
	
                </div>
                <div class="row">
	
                    <div class="story">
	
                        <figure class="story__shape">
	
                            <img src="{% static 'portfolio/img/javascript-logo.png' %}"
                                 class="story__image"
                                 alt="person on a tour" />
	
                            <figcaption>
	
                                <div class="story__caption">JavaScript</div>
	
                            </figcaption>
	
                        </figure>
	
                        <div class="story__text">
	
                            <h3 class="heading-tertiary u-margin-bottom-small">Solid intermediate JavaScript skills, adept at web development and problem-solving.</h3>
	
                            <p>
                                With solid intermediate JavaScript skills, I excel in developing dynamic and interactive web applications. My proficiency in front-end frameworks and ability to implement complex functionalities demonstrate my commitment to delivering high-quality code and exceptional user experiences
	
                            </p>
	
                        </div>
	
                    </div>
	
                </div>
                <div class="row">
	
                    <div class="story">
	
                        <figure class="story__shape">
	
                            <img src="{% static 'portfolio/img/postgres.png' %}"
                                 class="story__image"
                                 alt="person on a tour" />
	
                            <figcaption>
	
                                <div class="story__caption">Postgres</div>
	
                            </figcaption>
	
                        </figure>
	
                        <div class="story__text">
	
                            <h3 class="heading-tertiary u-margin-bottom-small">Familiar with basic PostgreSQL tasks, including DML and simple queries and joins</h3>
	
                            <p>
                                With medium-level PostgreSQL DML skills, I adeptly handle data manipulation tasks like inserting, updating, and deleting records. Proficient in crafting complex queries and ensuring data integrity, contributing to efficient and reliable database operations for web applications
	
                            </p>
	
                        </div>
	
                    </div>
	
                </div>
                <div class="row">
	
                    <div class="story">
	
                        <figure class="story__shape">
	
                            <img src="{% static 'portfolio/img/css.png' %}"
                                 class="story__image"
                                 alt="person on a tour" />
	
                            <figcaption>
	
                                <div class="story__caption">CSS 3</div>
	
                            </figcaption>
	
                        </figure>
	
                        <div class="story__text">
	
                            <h3 class="heading-tertiary u-margin-bottom-small">Proficient in CSS, designing visually stunning and responsive web interfaces.</h3>
	
                            <p>
                                I expertly style web interfaces, ensuring visual coherence and responsiveness across devices. Proficient in layout design, animations, and adapting to various browsers, contributing to captivating and user-friendly web experiences.
	
                            </p>
	
                        </div>
	
                    </div>
	
                </div>
	
                <div class="row">
	
                    <div class="story">
	
                        <figure class="story__shape">
	
                            <img src="{% static 'portfolio/img/html.png' %}" class="story__image" alt="person on a tour" />
	
                            <figcaption>
	
                                <div class="story__caption">HTML 5</div>
	
                            </figcaption>
	
                        </figure>
	
                        <div class="story__text">
	
                            <h3 class="heading-tertiary u-margin-bottom-small">Proficient in HTML, creating user-friendly and visually appealing websites.</h3>
	
                            <p>
                                With medium-level PostgreSQL DML skills, I adeptly handle data manipulation tasks like inserting, updating, and deleting records. Proficient in crafting complex queries and ensuring data integrity, contributing to efficient and reliable database operations for web applications
                            </p>
	
                        </div>
	
                    </div>
	
                </div>
	
                <div class="u-center-text u-margin-top-huge">
                    <a href="#" class="btn-text">Know more &rarr;</a>
	
                </div>
	
            </section>
	
            <section class="section-book">
	
                <div class="row">
	
                    <div class="book">
	
                        <div class="book__form">
	
                            <form action="#" class="form">
	
                                <div class="u-margin-bottom-medium">
	
                                    <h2 class="heading-secondary">Contact me</h2>
	
                                </div>
	
                                <div class="form__group">
	
                                    <input type="text"
                                           class="form__input"
                                           placeholder="Full name"
                                           id="name"
                                           required />
	
                                    <label for="name" class="form__label">Full name</label>
	
                                </div>
	
                                <div class="form__group">
	
                                    <input type="email"
                                           class="form__input"
                                           placeholder="Email address"
                                           id="name"
                                           required />
	
                                    <label for="name" class="form__label">Email Address</label>
	
                                </div>
	
                                <div class="form__group u-margin-bottom-medium">
	
                                    <div class="form__radio-group">
	
                                        <input type="radio" class="form__radio-input" id="small" name="size" />
	
                                        <label for="small" class="form__radio-label">
                                            <span class="form__radio-button"></span>
                                            Company
	
                                        </label>
	
                                    </div>
	
                                    <div class="form__radio-group">
	
                                        <input type="radio" class="form__radio-input" id="large" name="size" />
	
                                        <label for="large" class="form__radio-label">
                                            <span class="form__radio-button"></span>
                                            Individual
	
                                        </label>
	
                                    </div>
	
                                </div>
	
                                <div class="form__group">
	
                                    <button class="btn btn--green">Share details&rarr;</button>
	
                                </div>
	
                            </form>
	
                        </div>
	
                    </div>
	
                </div>
	
            </section>
	
        </main>
	
        <footer class="footer">
	
            <div class="footer__logo-box">
                <!-- Responsive images -->
	
                <picture class="footer_logo">
	
	
                    <img src="{% static 'portfolio/favicon/logo.png' %}"
                         alt="full logo"
                         class="footer__logo" />
	
                </picture>
	
            </div>
	
            <div class="row">
	
                <div class="col-1-of-2">
	
                    <div class="footer__navigation">
	
                        <ul class="footer_list">
	
                            <li class="footer__item">
                                <a href="#" class="footer__link">Linked In</a>
	
                            </li>
	
                            <li class="footer__item">
                                <a href="#" class="footer__link">Github</a>
	
                            </li>
	
                            <li class="footer__item">
                                <a href="#" class="footer__link">Contact Me</a>
	
                            </li>
	
	
                        </ul>
	
                    </div>
	
                </div>
	
                <div class="col-1-of-2">
	
                    <p class="footer__copyright">
                        Built my <a href="#" class="footer__link">Sanket Wagh</a> using <strong class="text-white">Django</strong> framework using <strong class="text-white">Postgres</strong> as Database and deployed on <strong class="text-white">EC2</strong> using <strong class="text-white">Postive SSL</strong> from <strong class="text-white">Namecheap</strong>
                    </p>
	
                </div>
	
            </div>
	
        </footer>

	
        <div id="popup" class="popup">
	
            <div class="popup__content">
	
                <div class="popup__left">
	
                    <img src="img/nat-8.jpg" class="popup__img" alt="tour photo" />
	
                    <img src="img/nat-9.jpg" class="popup__img" alt="tour photo" />
	
                </div>
	
                <div class="popup__right">
                    <a href="#discover-tours" class="popup__close">&times;</a>
	
                    <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
	
                    <h3 class="heading-tertiary u-margin-bottom-small">Important &dash; Please read these terms before booking</h3>
	
                    <p class="popup__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
                        beatae minima dolores ut. Excepturi perspiciatis assumenda aliquam
                        magni quaerat impedit reiciendis nisi repellendus, praesentium
                        necessitatibus quis autem id neque nihil totam harum sint quam
                        blanditiis quidem! Non est deleniti ipsam quisquam, voluptatum
                        error, praesentium delectus voluptate accusantium ut recusandae
                        similique odit consequuntur voluptas obcaecati, autem quae animi in
                        sunt inventore.
	
                    </p>
                    <a href="#" class="btn btn--green">Contact me</a>
	
                </div>
	
            </div>
	
        </div>
	
    </body>
</html>
