<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/tomato/customer/' == request.path or 'tomato/customer' == request.path %}active{% endif %}">
                <a href="{% url 'customer' %}"><i class="icon-dashboard3"></i>Dashboard</a>
            </li>
            <li class="{% if '/customer/my_orders' in request.path or 'order_detail' in request.path %}active{% endif %}">
                <a href="{% url 'customer_orders' %}"><i class="icon-add_shopping_cart"></i>My order</a>
            </li>
            <li class=" {% if '/tomato/customer/profile' == request.path %}active{% endif %} ">
                <a href="{% url 'cprofile' %}"><i class="icon-build"></i>Profile settings</a>
            </li>
 
            <li>
                <a href="{% url 'logout' %}"><i class="icon-money"></i>Sign Out</a>
            </li>
        </ul>
    </div>
</div>
