
{% extends 'tomato/base.html' %}

{% block content %}
    <div class="main-section">
 

        <div class="page-section pt-5">
            <div class="container">
                <div class="row">
 
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="tabs-holder horizontal">
                            <ul class="stickynav-tabs nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Cart items</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">
                                    <div class="menu-itam-holder">

                                        <div id="menu-item-list-6272" class="menu-itam-list">


                                            <ul id="cart-items">
                                                <div id = "empty-cart" class="text-center p-5 d-none">
                                                    <h3>Cart is empty please add some food</h3>
                                                </div>
                                                {% if cart_items %}
                                                    {% for cart_item in cart_items %}
                                                        <li id="cart-item-{{ cart_item.id }}">
                                                            <div class="image-holder">
                                                                <img src="{{ cart_item.food_item.image.url }}" alt="" />

                                                            </div>
                                                            <div class="text-holder">
                                                                <h6>{{ cart_item.food_item }}</h6>
                                                                <h6>{{ cart_item.food_item.description }}</h6>
                                                                <a href="{% url 'vendor_detail' cart_item.food_item.vendor.vendor_slug %}"
                                                                   class="badge badge-warning">{{ cart_item.food_item.vendor }}</a>
                                                            </div>
                                                            <div class="price-holder">
                                                                <span class="price">₹{{ cart_item.food_item.price }}</span>
                                                                <a href="#"
                                                                   class="add_to_cart"
                                                                   data-id='{{ cart_item.food_item.id }}'
                                                                   data-url="{% url 'add_to_cart' cart_item.food_item.id %}"
                                                                   style="margin-right:28px"><i class="icon-plus4 text-color"></i></a>
                                                                <label id="qty-{{ cart_item.food_item.id }}">{{ cart_item.quantity }}</label>
                                                                <a href=""
                                                                   data-id='{{ cart_item.food_item.id }}'
                                                                   data-cart="{{ cart_item.id }}"
                                                                   data-url="{% url 'remove_from_cart' cart_item.food_item.id %}"
                                                                   class="remove_from_cart">
                                                                    <i class="icon-minus text-color"></i>
                                                                </a>
                                                                <a href=""
                                                                   data-id='{{ cart_item.id }}'
                                                                   data-url="{% url 'delete_cart' cart_item.id %}"
                                                                   class="delete_cart">
                                                                    <i class="icon-delete text-color"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="text-center p-5">
                                                        <h3>Cart is empty please add some food</h3>
                                                    </div>
 
 
                                                {% endif %}
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
 
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="tabs-holder horizontal">
                            <ul class="stickynav-tabs nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">
                                    <div class="menu-itam-holder">
                                        <div>
                                            <ul>
                                                <li style="list-style-type:none;">
                                                    Subtotal
                                                    <span class="price float-right">
                                                        <span class="currency">₹</span>
                                                        <span id="subtotal">{{ sub_total }}</span>
                                                    </span>
                                                </li>
                                                {% for key, value in taxes.items %}
                                                    {% for percentage, amount in value.items %}
 
                                                        <li style="list-style-type:none;">
                                                            {{ key }} <small>({{ percentage }}%)</small>
                                                            <span class="price float-right">
                                                                <span class="currency">₹</span>
                                                                <span id="tax-{{ key }}">{{ amount }}</span>
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                {% endfor %}
                                                <li style="list-style-type:none; font-weight:600;">
                                                    Total
                                                    <span class="price float-right">
                                                        <span class="currency">₹</span>
                                                        <span id="total">{{ grand_total }}</span>
                                                    </span>
                                                </li>
                                                <a href="{% url 'checkout' %}"
                                                   class="btn btn-danger w-100 p-2 mt-3 mb-3">PROCEED TO CHECKOUT</a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
